.card-qrcode {
  background-color: #FFFFFF;
  max-width: 320px;
  min-height: 497px;
  padding: 15px;
  border-radius: 20px;
}

.card-qrcode > img {
  max-width: 100%;
  border-radius: 10px;
}

.card-qrcode-content {
  margin-top: 20px;
  padding: 5px 20px;
}

.card-qrcode-content > h1, p {
  text-align: center;
}

.card-qrcode-content > h1 {
  color: #1F314F;
}

.card-qrcode-content > p {
  color: #7D889E;
  margin-top: 20px;
  letter-spacing: 0.19px;
}